{% extends"szablon.html" %}
{% block content %}
	
		
		<h1>Kilka slow o nas</h1>
		<p>
		<a> Nasz prosty ale jakże precyzyjnie dostosowany do naszych odbiorców serwis internetowy jest przeznaczona dla osób, które lubią dzielić się swoją wiedzą na temat gotowania jak i samej kuchni.</br>
		 W naszym serwisie możesz dodać swoje najlepsze przepisy i podzielić się swoją pasją z innymi użytkownikami.</br>
		  Prosty w obsłudze interfejs sprawia, że dodawanie kolejnych artykułów nie sprawia nikomu najmniejszego problemu.</br>
		   Także nie ma na co czekać, podziel się z nami swoją pasją i już teraz dodaj pierwszy post.</a>
		</p>
	
		
{% endblock %}
